@import '~antd/dist/antd.css';
.app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form {
  flex-basis: 18rem;
}

.app-body {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.match-form-size {
  width: 100%;
}

.form-button {
  text-transform: uppercase;
  font-weight: bold;
}

.app-header {
  text-transform: uppercase;
  color: darkcyan;
  margin-bottom: 2rem;
  text-align: center;
}

.secondary-heading {
  text-align: center;
  text-transform: uppercase;
  color: rgba(136, 136, 136, 0.746);
}
